/* stylelint-disable */

.style-module_container__DpFSc {
  background-color: #d0d0d0;
  height: 4px;
  width: 100%;
  overflow: hidden;
}
.style-module_container__DpFSc .style-module_bar__N-1JT {
  background-color: #141414;
  height: 100%;
  transition: width ease 0.3s;
}
.style-module_item__JmB9A {
  list-style: none;
  display: inline-flex;
  align-items: center;
  color: var(--foreground);
  border-color: var(--foreground);
  cursor: default;
}
.style-module_item__JmB9A.style-module_highlighted__NnLa- {
  color: var(--highlight-default);
  border-color: var(--highlight-default);
}
.style-module_item__JmB9A.style-module_disabled__u-29V {
  color: var(--field-label);
  border-color: var(--field-label);
}

.style-module_interactable__l5Suq {
  cursor: pointer;
}
.style-module_interactable__l5Suq:hover > * {
  text-decoration: underline;
}

.style-module_circle__s7aoY {
  padding: 1px;
  width: 9px;
  min-width: 9px;
  height: 9px;
  min-height: 9px;
  box-sizing: content-box;
  border: 1px solid;
  border-color: inherit;
  border-radius: 100%;
  margin-right: 12px;
}
.style-module_circle__s7aoY > svg {
  position: relative;
  top: -7px;
}
.style-module_text__I9jEJ {
  font-size: 1rem;
}

.style-module_button__16F7- {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 0.078rem;
  line-height: 130%;
}

.style-module_caption__pjlIr {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 0.025rem;
  line-height: 125%;
}

.style-module_overline__qX4KZ {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  line-height: 125%;
}

.style-module_subtitle-1__aJpa1 {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.009rem;
  line-height: 130%;
}

.style-module_subtitle-2__aRHGo {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.009rem;
  line-height: 130%;
}
.style-module_scrollView__5QRfV {
  display: flex;
  overflow: hidden;
  flex-grow: 1;
  scrollbar-width: 10px;
  scrollbar-color: var(--field-disabled) var(--field);
}
.style-module_scrollView__5QRfV::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
.style-module_scrollView__5QRfV::-webkit-scrollbar-thumb {
  /* Foreground */
  background: var(--field-disabled);
}
.style-module_scrollView__5QRfV::-webkit-scrollbar-track {
  background: var(--field);
}

.style-module_vertical__fiPDC {
  flex-direction: column;
  overflow-y: auto;
}

.style-module_horizontal__mBwrE {
  flex-direction: row;
  overflow-x: auto;
}
.style-module_dialog__TzIVN {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 1rem;
  background-color: var(--background);
  position: absolute;
  overflow: hidden;
  top: 50px;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 8px 8px 0 0;
}

.style-module_close__UA96u {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.style-module_icon__qdRso {
  display: flex;
  justify-content: center;
  align-items: center;
}
.style-module_button__Oj7lh {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding: 0 21px 0 21px;
  width: auto;
  cursor: pointer;
  border: 1px solid;
}
.style-module_button__Oj7lh.style-module_small__gw5mx {
  height: 32px;
  min-width: 96px;
}
.style-module_button__Oj7lh.style-module_medium__O5Bra {
  height: 40px;
  min-width: 128px;
}
.style-module_button__Oj7lh.style-module_large__vEvKo {
  height: 47px;
  min-width: 160px;
}
.style-module_button__Oj7lh.style-module_default__QeTDJ {
  border-radius: 0.25rem;
}
.style-module_button__Oj7lh.style-module_rounded__8j2WO {
  border-radius: 100px;
}
.style-module_button__Oj7lh.style-module_square__CzKbY {
  border-radius: 0;
}

.style-module_button__Oj7lh.style-module_left__u8B-B {
  padding-left: 52px;
}

.style-module_button__Oj7lh.style-module_right__2pbwM {
  padding-right: 52px;
}

.style-module_label__dv5W9 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.style-module_expand__2U6DZ {
  width: 100%;
}

.style-module_primary__wxULd {
  background-color: var(--button-background);
  border-color: var(--button-background);
  color: var(--button-foreground);
}
.style-module_primary__wxULd:hover {
  background-color: var(--button-primary-hover);
}
.style-module_primary__wxULd:active {
  background-color: var(--button-primary-pressed);
}
.style-module_primary__wxULd:disabled {
  background-color: var(--button-disabled);
  color: var(--button-label-disabled);
}

.style-module_secondary__8f9jr {
  background-color: transparent;
  border-color: var(--button-background);
  color: var(--button-background);
}
.style-module_secondary__8f9jr:hover {
  border-color: #a7a8a9;
}
.style-module_secondary__8f9jr:active {
  background-color: var(--button-disabled);
  border-color: var(--button-foreground);
  color: var(--button-foreground);
}
.style-module_secondary__8f9jr:disabled {
  background-color: transparent;
  border-color: var(--field-disabled);
  color: var(--field-disabled);
}

.style-module_tertiary__aZ7jw {
  background-color: transparent;
  border-color: transparent;
  color: var(--button-background);
}
.style-module_tertiary__aZ7jw:active {
  text-decoration: underline;
}
.style-module_tertiary__aZ7jw:hover {
  text-decoration: underline;
}
.style-module_tertiary__aZ7jw:disabled {
  color: var(--field-disabled);
  text-decoration: none;
}

.style-module_cta__3jfCv {
  background-color: var(--highlight-default);
  border-color: var(--highlight-default);
  color: var(--button-foreground);
}
.style-module_cta__3jfCv:hover {
  background-color: var(--highlight-hover);
  border-color: var(--highlight-hover);
}
.style-module_cta__3jfCv:active {
  background-color: var(--highlight-active);
  border-color: var(--highlight-active);
}
.style-module_cta__3jfCv:disabled {
  background-color: var(--button-disabled);
  border-color: var(--button-disabled);
  color: var(--button-label-disabled);
}

.style-module_icon__-aqN1 {
  position: absolute;
}

.style-module_icon__-aqN1.style-module_right__2pbwM {
  right: 1rem;
}

.style-module_icon__-aqN1.style-module_left__u8B-B {
  left: 1rem;
}

.style-module_button__Oj7lh:disabled > .style-module_icon__-aqN1 {
  color: var(--button-label-disabled);
}
.style-module_button__Oj7lh:disabled > .style-module_icon__-aqN1 > svg {
  color: var(--button-label-disabled);
}
.style-module_container__6Jps8 {
  display: flex;
  align-items: center;
}

.style-module_spinner__XjYD1 {
  color: currentColor;
  animation: 700ms cubic-bezier(0.62, 0.63, 0, 0.53) 0s infinite normal none running style-module_animation-spin__kGWzI;
  transform-origin: center center;
}

.style-module_circle__Z8EWF {
  stroke-dasharray: 50;
  stroke-width: 3;
  stroke-linecap: round;
  stroke: currentColor;
}

@keyframes style-module_animation-spin__kGWzI {
  100% {
    transform: rotate(360deg);
  }
}
.style-module_button__jK5wS {
  cursor: pointer;
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 100%;
  color: var(--button-background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.style-module_button__jK5wS.style-module_small__fxueM {
  width: 36px;
  height: 36px;
}
.style-module_button__jK5wS.style-module_medium__7viCS {
  width: 46px;
  height: 46px;
}
.style-module_button__jK5wS.style-module_large__0w5XA {
  width: 56px;
  height: 56px;
}
.style-module_button__jK5wS:disabled {
  color: var(--button-disabled);
}
.style-module_button__jK5wS:hover {
  color: var(--button-primary-hover);
}

.style-module_primary__KEuVC {
  background-color: var(--button-background);
  color: var(--button-foreground);
}
.style-module_primary__KEuVC:hover {
  background-color: var(--button-primary-hover);
  color: var(--button-foreground);
}
.style-module_primary__KEuVC:active {
  background-color: var(--button-primary-pressed);
}
.style-module_primary__KEuVC:disabled {
  background-color: var(--button-disabled);
  color: var(--button-label-disabled);
}

.style-module_secondary__NTM0o {
  border: 1px solid var(--button-background);
}
.style-module_secondary__NTM0o:hover {
  border-color: #d0d0d0;
}
.style-module_secondary__NTM0o:active {
  background-color: var(--button-disabled);
  border-color: var(--button-foreground);
  color: var(--button-foreground);
}
.style-module_secondary__NTM0o:disabled {
  background-color: transparent;
  border-color: var(--field-disabled);
  color: var(--field-disabled);
}

.style-module_tertiary__0u8Z0 {
  background-color: transparent;
  width: 24px;
  height: 24px;
}
.style-module_tertiary__0u8Z0:disabled {
  color: var(--field-disabled);
}

.style-module_cta__H0AaF {
  background-color: var(--highlight-default);
  border-color: var(--highlight-default);
  color: var(--button-foreground);
}
.style-module_cta__H0AaF:hover {
  background-color: var(--highlight-hover);
  border-color: var(--highlight-hover);
  color: var(--button-foreground);
}
.style-module_cta__H0AaF:active {
  background-color: var(--highlight-active);
  border-color: var(--highlight-active);
}
.style-module_cta__H0AaF:disabled {
  background-color: var(--button-disabled);
  border-color: var(--button-disabled);
  color: var(--button-label-disabled);
}
.style-module_row__vFAVz {
  display: grid;
  width: 100%;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
}
.style-module_row__vFAVz.style-module_center__-4B32 > * {
  justify-self: center;
}
.style-module_row__vFAVz.style-module_start__Ro92V > * {
  justify-self: start;
}
.style-module_row__vFAVz.style-module_end__hBIqM > * {
  justify-self: end;
}
.style-module_row__vFAVz.style-module_stretch__SswpX > * {
  justify-self: stretch;
}
.style-module_row__vFAVz.style-module_outwards__GDHSR > * {
  justify-self: center;
}
.style-module_row__vFAVz.style-module_outwards__GDHSR > *:first-child {
  justify-self: start;
}
.style-module_row__vFAVz.style-module_outwards__GDHSR > *:last-child {
  justify-self: end;
}

.style-module_stretch__SswpX {
  flex-grow: 1;
}
.style-module_bullet__oLR52 {
  list-style: disc;
}

.style-module_number__mosDg {
  list-style: decimal;
}

.style-module_list__atCcF {
  padding-left: 2rem;
}
.style-module_statement__HykGD {
  font-family: "VolvoBroad", Arial, sans-serif;
  font-size: 4.375rem;
  font-weight: normal;
  letter-spacing: 0.313rem;
  line-height: 85%;
}
.style-module_container__vEMaJ {
  position: relative;
}

.style-module_card__Ux3j6 {
  background-color: var(--background);
  color: var(--foreground);
  border: 1px solid var(--background);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  box-sizing: border-box;
  width: 100%;
  cursor: pointer;
}
.style-module_card__Ux3j6.style-module_narrow__k59na {
  padding: 1rem 1.5rem;
}
.style-module_card__Ux3j6.style-module_selected__d3Cuh:not(:disabled) {
  border-color: var(--foreground);
}
.style-module_card__Ux3j6:disabled {
  border-color: var(--field-disabled);
  color: var(--field-disabled);
}
.style-module_card__Ux3j6:active:not(:disabled) {
  background-color: var(--button-disabled);
}
.style-module_card__Ux3j6:hover:not(.style-module_selected__d3Cuh):not(:disabled) {
  border-color: #d0d0d0;
}

.style-module_icon__eTZGg {
  position: absolute;
  top: 18px;
  right: 18px;
  z-index: 1;
}
.style-module_span-mobile-1__1Gki1 {
  grid-column: span 1;
}

.style-module_span-mobile-2__iDjiX {
  grid-column: span 2;
}

.style-module_span-mobile-3__GurUt {
  grid-column: span 3;
}

.style-module_span-mobile-4__PMp9m {
  grid-column: span 4;
}

.style-module_span-mobile-5__1ei09 {
  grid-column: span 5;
}

.style-module_span-mobile-6__7fZuw {
  grid-column: span 6;
}

@media (min-width: 768px) {
  .style-module_span-tablet-1__UgY6F {
    grid-column: span 1;
  }
  .style-module_span-tablet-2__9Orjf {
    grid-column: span 2;
  }
  .style-module_span-tablet-3__EC3dk {
    grid-column: span 3;
  }
  .style-module_span-tablet-4__tgLLW {
    grid-column: span 4;
  }
  .style-module_span-tablet-5__QBpw1 {
    grid-column: span 5;
  }
  .style-module_span-tablet-6__RnnF5 {
    grid-column: span 6;
  }
  .style-module_span-tablet-7__pUPyV {
    grid-column: span 7;
  }
  .style-module_span-tablet-8__NzahK {
    grid-column: span 8;
  }
  .style-module_span-tablet-9__N7YGB {
    grid-column: span 8;
  }
  .style-module_span-tablet-10__9412W {
    grid-column: span 8;
  }
}
@media (min-width: 960px) {
  .style-module_span-desktop-1__soGX- {
    grid-column: span 1;
  }
  .style-module_span-desktop-2__X-Znv {
    grid-column: span 2;
  }
  .style-module_span-desktop-3__gVavX {
    grid-column: span 3;
  }
  .style-module_span-desktop-4__6KUpX {
    grid-column: span 4;
  }
  .style-module_span-desktop-5__L0iOM {
    grid-column: span 5;
  }
  .style-module_span-desktop-6__LnFZk {
    grid-column: span 6;
  }
  .style-module_span-desktop-7__O5TK0 {
    grid-column: span 7;
  }
  .style-module_span-desktop-8__BVXim {
    grid-column: span 8;
  }
  .style-module_span-desktop-9__1JN-X {
    grid-column: span 9;
  }
  .style-module_span-desktop-10__CK7p8 {
    grid-column: span 10;
  }
}
@media (min-width: 1248px) {
  .style-module_span-desktop-wide-1__XzNwV {
    grid-column: span 1;
  }
  .style-module_span-desktop-wide-2__pr-wV {
    grid-column: span 2;
  }
  .style-module_span-desktop-wide-3__Z4Ocj {
    grid-column: span 3;
  }
  .style-module_span-desktop-wide-4__P5n0q {
    grid-column: span 4;
  }
  .style-module_span-desktop-wide-5__aF0yE {
    grid-column: span 5;
  }
  .style-module_span-desktop-wide-6__wB8yT {
    grid-column: span 6;
  }
  .style-module_span-desktop-wide-7__Ue6-g {
    grid-column: span 7;
  }
  .style-module_span-desktop-wide-8__H1V2W {
    grid-column: span 8;
  }
  .style-module_span-desktop-wide-9__IFD8o {
    grid-column: span 9;
  }
  .style-module_span-desktop-wide-10__XaOUB {
    grid-column: span 10;
  }
}
.style-module_expandable__h6tDH {
  overflow: hidden;
}
.style-module_section__iJGsB {
  display: flex;
  flex-direction: column;
}
.style-module_section__iJGsB ~ .style-module_section__iJGsB {
  border-top: 1px solid var(--field-disabled);
}

.style-module_icon__710i9 {
  transition: transform 250ms ease 0s;
  transform: rotate(-180deg);
}

.style-module_expanded__4R-9q {
  transform: rotate(0deg);
}

.style-module_content__NrJfs {
  padding: 0 1.125rem 1rem 1.125rem;
}

.style-module_title__vwyFQ {
  display: flex;
  border: none;
  background-color: var(--background);
  justify-content: space-between;
  font-family: "Volvo Novum", Arial, sans-serif;
  font-weight: bold;
  font-size: 1rem;
  padding: 18px;
  flex-grow: 1;
  cursor: pointer;
}

.style-module_accordion__lhrGt {
  flex-grow: 1;
}
.style-module_wrapper__CgofQ {
  padding-top: 10px;
  position: relative;
  width: 100%;
}

.style-module_field__oYv3a {
  background-color: var(--background);
  border: 1px solid var(--field);
  border-radius: 0.25rem;
  padding: 0px;
  height: 54px;
  overflow: hidden;
}
.style-module_field__oYv3a:not(.style-module_error__uNuEr):hover {
  border-color: var(--highlight-hover);
}
.style-module_field__oYv3a:disabled {
  border-color: var(--field-disabled);
}
.style-module_field__oYv3a.style-module_error__uNuEr:not(:disabled) {
  color: var(--error-default);
  border-color: var(--error-default);
}
.style-module_field__oYv3a:disabled > .style-module_label__PDr0b {
  color: var(--field-label-disabled);
}
.style-module_field__oYv3a:hover:not(.style-module_error__uNuEr) > .style-module_label__PDr0b {
  color: var(--highlight-hover);
}
.style-module_field__oYv3a.style-module_error__uNuEr > .style-module_label__PDr0b, .style-module_field__oYv3a.style-module_error__uNuEr + span {
  color: var(--error-default);
}

.style-module_label__PDr0b {
  position: absolute;
  background-color: var(--background);
  color: var(--field-label);
  font-family: "Volvo Novum", Arial, sans-serif;
  font-weight: normal;
  letter-spacing: 0.15px;
  top: 27px;
  left: 1rem;
  padding: 0 0.25rem 0 0.25rem;
  pointer-events: none;
  z-index: 1;
}

.style-module_focused__w-rYP {
  border-color: var(--highlight-default);
}
.style-module_focused__w-rYP > .style-module_label__PDr0b {
  top: 0px;
  font-size: 14px;
}
.style-module_focused__w-rYP:not(.style-module_error__uNuEr) > .style-module_label__PDr0b {
  color: var(--highlight-default);
}

.style-module_fixed__R6MF1 {
  top: 0px;
  font-size: 14px;
}

.style-module_icon__L-Yz1 {
  position: absolute;
  z-index: 1;
  pointer-events: none;
  top: 26px;
}

.style-module_right__LIhrp {
  right: 1rem;
}

.style-module_left__GE-Gx {
  left: 1rem;
}
.style-module_left__GE-Gx ~ .style-module_label__PDr0b {
  margin-left: 3rem;
}
.style-module_caption__Y-ZYm {
  color: var(--field-label);
  display: inline-block;
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 0.025rem;
  line-height: 125%;
}

.style-module_margin__pqP83 {
  margin-top: 0.5rem;
}
.style-module_input__yb1Fh {
  padding: 16px;
  width: 100%;
  height: 56px;
  border: 0px;
  outline: 0px;
  box-sizing: border-box;
  resize: vertical;
  background-color: var(--background);
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.031rem;
  line-height: 130%;
}
.style-module_input__yb1Fh:disabled {
  background-color: var(--background);
}
.style-module_input__yb1Fh::-moz-placeholder {
  color: transparent;
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 0.078rem;
  line-height: 130%;
}
.style-module_input__yb1Fh::placeholder {
  color: transparent;
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 0.078rem;
  line-height: 130%;
}
.style-module_input__yb1Fh:focus::-moz-placeholder {
  color: var(--field-label);
}
.style-module_input__yb1Fh:focus::placeholder {
  color: var(--field-label);
}

.style-module_icon__QawOb {
  position: absolute;
  z-index: 1;
}

.style-module_right__kpoM7 {
  right: 1rem;
}
.style-module_right__kpoM7 ~ .style-module_input__yb1Fh {
  padding-right: 3rem;
}

.style-module_left__O2Jqt {
  left: 1rem;
}
.style-module_left__O2Jqt ~ .style-module_input__yb1Fh {
  padding-left: 3rem;
}
.style-module_row__MAZWD {
  display: flex;
  flex-direction: row;
}

.style-module_stretch__-oRdB {
  flex-grow: 1;
}

.style-module_reverse__SxqgJ {
  flex-direction: row-reverse;
}
.style-module_column__EeIiT {
  display: flex;
  flex-direction: column;
}

.style-module_stretch__qPezb {
  flex-grow: 1;
}

.style-module_reverse__wLiLM {
  flex-direction: column-reverse;
}
.style-module_grid__1LnwT {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 0.5rem;
  align-items: start;
  width: 100%;
}

@media (min-width: 768px) {
  .style-module_grid__1LnwT {
    grid-template-columns: repeat(12, 1fr);
  }
}
.style-module_wrapper__KYtTm {
  display: flex;
  align-items: center;
  position: relative;
  height: 24px;
}

.style-module_checkbox__t1E8H {
  box-sizing: border-box;
  min-width: 18px;
  min-height: 18px;
  border: 2px solid var(--checkbox-border);
  border-radius: 0.125rem;
  cursor: pointer;
  transition: background-color 250ms ease 0s, border-color 250ms ease 0s, color 250ms ease 0s;
}
.style-module_checkbox__t1E8H:disabled {
  background-color: var(--field-disabled);
  border-color: var(--field-disabled);
}
.style-module_checkbox__t1E8H:checked:not(:disabled) {
  background-color: var(--button-background);
  border-color: var(--button-background);
}
.style-module_checkbox__t1E8H:not(:disabled) ~ .style-module_bar__RH6Vu {
  display: none;
}
.style-module_checkbox__t1E8H.style-module_error__8MhQM:not(:disabled) {
  background-color: var(--error-default);
  border-color: var(--error-default);
}
.style-module_checkbox__t1E8H:not(:checked) + svg {
  color: transparent;
}

.style-module_tick__ThYA1,
.style-module_bar__RH6Vu {
  position: absolute;
  left: 4px;
  color: var(--background);
  pointer-events: none;
  padding: 1px;
  z-index: 1;
}

.style-module_label__-IYz7 {
  padding-left: 0.5rem;
  font-family: "Volvo Novum", Arial, sans-serif;
  font-weight: 400;
}
.style-module_button__MjVV- {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
  gap: 11px;
}
.style-module_button__MjVV-:not(:disabled) > * {
  cursor: pointer;
}
.style-module_button__MjVV-.style-module_reverse__DKLf8 {
  flex-direction: row-reverse;
}

.style-module_tick__blKT- {
  border: 2px solid var(--checkbox-border);
  border-radius: 100%;
  min-width: 20px;
  min-height: 20px;
  padding: 3px;
  margin: 0;
  box-sizing: border-box;
  background-clip: content-box;
  transition: box-shadow 100ms ease 0s, background-color 250ms ease 0s, border-color 250ms ease 0s;
}
.style-module_tick__blKT-:checked {
  background-color: var(--foreground);
  border-color: var(--foreground);
}
.style-module_tick__blKT-:checked:not(:disabled):hover {
  background-color: var(--checkbox-border);
  border-color: var(--checkbox-border);
}
.style-module_tick__blKT-:not(:disabled):hover {
  box-shadow: rgba(247, 247, 247, 0.8) 0px 0px 0px 10px;
}

.style-module_error__kESvK {
  background-color: var(--error-default);
  border-color: var(--error-default);
  color: var(--error-default);
}

.style-module_label__jXl5T {
  font-family: "Volvo Novum", Arial, sans-serif;
}
.style-module_container__FvMBS {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.style-module_stretch__GtBeg {
  flex-grow: 1;
}
.style-module_wrapper__UcnKW {
  position: relative;
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  height: 40px;
  gap: 0.75rem;
}

.style-module_switch__PdPn7 {
  position: absolute;
  margin: -3px 0;
  height: calc(100% + 6px);
  width: 100%;
  z-index: 1;
  cursor: pointer;
}
.style-module_switch__PdPn7:not(:disabled):hover ~ .style-module_slideArea__aOPBM > .style-module_knob__eZ5H5 {
  box-shadow: rgba(83, 86, 90, 0.15) 0px 0px 0px 10px;
}

.style-module_slideArea__aOPBM {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: relative;
  height: 14px;
  width: 34px;
  border-radius: 7px;
  background-color: var(--switch-field-unticked);
}
.style-module_slideArea__aOPBM.style-module_checked__KmDdQ {
  background-color: var(--switch-field-ticked);
}
.style-module_slideArea__aOPBM.style-module_disabled__vjnvy {
  background-color: var(--button-disabled);
}

.style-module_knob__eZ5H5 {
  position: absolute;
  top: -3px;
  left: -1px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #ffffff;
  transition: transform 250ms ease 0s;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.3px 0.5px, rgba(0, 0, 0, 0.2) 0px 2px 4px;
}
.style-module_knob__eZ5H5.style-module_disabled__vjnvy {
  background-color: var(--switch-knob-disabled);
}
.style-module_knob__eZ5H5.style-module_checked__KmDdQ {
  transform: translateX(calc(100% - 4px));
}
.style-module_link__H8ol- {
  display: inline-flex;
  align-items: center;
  height: 24px;
  gap: 12px;
  color: var(--highlight-default);
  font-family: "Volvo Novum", Arial, sans-serif;
  cursor: pointer;
  text-decoration: none;
}
.style-module_context__-UCpL {
  width: 100%;
}

.style-module_light__Cjo4J {
  --background: #ffffff;
  --foreground: #141414;
  --button-background: #141414;
  --button-foreground: #ffffff;
  --button-label-disabled: #a7a8a9;
  --button-disabled: #e1dfdd;
  --button-primary-pressed: #323232;
  --button-primary-hover: #53565a;
  --field: #a7a8a9;
  --field-disabled: #d0d0d0;
  --field-label: #53565a;
  --field-label-disabled: #a7a8a9;
  --item-highlight: #e1dfdd;
  --item-hover: #f7f7f7;
  --switch-field-ticked: #141414;
  --switch-field-unticked: #888b8d;
  --switch-knob-disabled: #ffffff;
  --checkbox-border: #888b8d;
  --option-label: #141414;
  --highlight-default: #004fbc;
  --highlight-hover: #2b8ede;
  --highlight-active: #104e9b;
  --success-default: #1a6c31;
  --warning-default: #ffa000;
  --error-default: #bf2012;
  --context-default: #346559;
  --modal-border: transparent;
}

.style-module_dark__FI0Rd {
  --background: #323232;
  --foreground: #ffffff;
  --button-background: #ffffff;
  --button-foreground: #141414;
  --button-label-disabled: #888b8d;
  --button-disabled: #53565a;
  --button-primary-pressed: #f7f7f7;
  --button-primary-hover: #a7a8a9;
  --field: #a7a8a9;
  --field-disabled: #888b8d;
  --field-label: #d0d0d0;
  --field-label-disabled: #888b8d;
  --item-highlight: #888b8d;
  --item-hover: #53565a;
  --switch-field-ticked: #e1dfdd;
  --switch-field-unticked: #53565a;
  --switch-knob-disabled: #888b8d;
  --checkbox-border: #a7a8a9;
  --option-label: #f7f7f7;
  --highlight-default: #44a1ff;
  --highlight-hover: #76baff;
  --highlight-active: #1f78d1;
  --success-default: #47962d;
  --warning-default: #f7d302;
  --error-default: #ea2c1a;
  --context-default: #66b3a6;
  --modal-border: #53565a;
}
.style-module_options__bqmrS {
  position: absolute;
  display: flex;
  list-style-type: none;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  margin: 6px 0 0 0;
  z-index: 2;
  border: 1px solid var(--modal-border);
}

.style-module_light__CiE94 {
  border: none;
}

.style-module_item__cv92j {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  color: var(--field-label);
  box-sizing: border-box;
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 0.078rem;
  line-height: 130%;
  line-height: 100%;
  outline: 0;
  padding: 13px;
  height: 3rem;
  cursor: pointer;
}
.style-module_item__cv92j:hover:not(.style-module_current__3EQGp) {
  background-color: var(--item-hover);
}
.style-module_item__cv92j:focus:not(.style-module_current__3EQGp) {
  background-color: var(--item-hover);
}

.style-module_current__3EQGp {
  background-color: var(--item-highlight);
}

.style-module_selected__QgRTY {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 0.078rem;
  line-height: 130%;
  background-color: var(--background);
  color: var(--foreground);
  border: none;
  height: 56px;
  width: 100%;
  padding: 1rem 3rem 1rem 1rem;
  cursor: pointer;
}

/*
  position: absolute;
  z-index: 1;
  top: 26x;
  right: 16px;
  pointer-events: none;
*/
.style-module_chevron__eE6qh {
  transition: transform 250ms ease 0s;
  transform: rotate(180deg);
}

.style-module_open__hqdXa {
  transform: rotate(0deg);
}
.style-module_dialog__1OAy7 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  border-radius: 0.25rem;
  margin: 0 auto auto auto;
  min-width: 320px;
  padding: 1.5rem;
  border: 1px solid var(--modal-border);
  background-color: var(--background);
  color: var(--foreground);
}
@media (min-width: 768px) {
  .style-module_dialog__1OAy7 {
    max-width: 500px;
  }
}

.style-module_close__cKVrC {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
}
.style-module_image__s6qt0 {
  opacity: 0;
  transition: opacity 250ms ease-in;
}
.style-module_image__s6qt0.style-module_loaded__VFsko {
  opacity: 1;
}
.style-module_banner__mR1s2 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: var(--background);
  color: var(--foreground);
  padding: 1rem 2.25rem;
}

.style-module_attention__FWf3T {
  background-color: #bf2012;
  color: #ffffff;
}
.style-module_chip__aJ7pc {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 32px;
  border: 1px solid #141414;
  border-radius: 20px;
  background-color: transparent;
  padding: 0 20px;
  transition: background-color 250ms ease 0s;
}
.style-module_chip__aJ7pc.style-module_withIcon__y-okA {
  padding-right: 12px;
}
.style-module_chip__aJ7pc:hover:not(:disabled) {
  border-color: #53565a;
}
.style-module_chip__aJ7pc:not(:disabled) {
  cursor: pointer;
}
.style-module_chip__aJ7pc.style-module_active__Zc7nw:not(:disabled) {
  color: #ffffff;
  background-color: #141414;
}
.style-module_chip__aJ7pc:disabled {
  color: #d0d0d0;
  border-color: #d0d0d0;
}

.style-module_icon__-RDZY {
  margin-left: 0.5rem;
}
.style-module_container__aCJRW {
  display: flex;
  flex-direction: row;
}
.style-module_container__aCJRW.style-module_small__OP-VS, .style-module_container__aCJRW.style-module_medium__LLZ1H {
  gap: 42px;
}

.style-module_tab__1ItZg {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  background-color: var(--background);
  color: var(--button-primary-hover);
  border-bottom: 2px solid transparent;
  cursor: pointer;
  height: 50px;
  min-width: 90px;
  max-width: 360px;
  padding: 16px 18px 18px 18px;
}
.style-module_tab__1ItZg > * {
  line-height: 1;
}
.style-module_tab__1ItZg.style-module_withIcon__ySTcP {
  height: 72px;
  padding: 12px 18px 15px 18px;
}
.style-module_tab__1ItZg:hover {
  border-color: var(--field);
}
.style-module_tab__1ItZg.style-module_selected__GZfP1 {
  border-color: var(--foreground);
  color: var(--foreground);
}
.style-module_tab__1ItZg.style-module_medium__LLZ1H {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  line-height: 125%;
  height: auto;
  text-transform: uppercase;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  padding: 12px 0;
}
.style-module_tab__1ItZg.style-module_small__OP-VS {
  padding: 2px 0;
  height: auto;
  min-width: -moz-max-content;
  min-width: max-content;
  max-width: -moz-max-content;
  max-width: max-content;
}

.style-module_icon__C5-iN {
  margin-bottom: 7px;
}
.style-module_container__YIvp0 {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  height: 2rem;
}

.style-module_tickWrapper__6r0xa {
  position: relative;
}

.style-module_tick__EGzxA {
  width: 1rem;
  height: 1rem;
  position: absolute;
  z-index: 1;
  margin: 0;
  cursor: pointer;
}
.style-module_tick__EGzxA.style-module_numbered__38zgu {
  width: 2rem;
  height: 2rem;
}
.style-module_tick__EGzxA:not(.style-module_numbered__38zgu) {
  top: -0.25rem;
  left: -0.25rem;
}
.style-module_tick__EGzxA:checked ~ .style-module_circle__g7Ipt {
  background-color: var(--foreground);
  color: var(--button-foreground);
}
.style-module_tick__EGzxA:not(:checked).style-module_numbered__38zgu:hover ~ .style-module_circle__g7Ipt {
  background-color: var(--item-hover);
}

.style-module_circle__g7Ipt {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--field-disabled);
  transition: background-color 250ms ease 0s;
}
.style-module_circle__g7Ipt.style-module_numbered__38zgu {
  background-color: transparent;
  width: 2rem;
  height: 2rem;
}
/* Fonts */
@font-face {
  font-family: "Volvo Novum";
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
  src: url("https://www.volvotrucks.se/etc.clientlibs/volvo/clientlibs/shared/resources/fonts/VolvoNovum/VolvoNovum-Regular-webfont.woff2") format("woff2"), url("https://www.volvotrucks.se/etc.clientlibs/volvo/clientlibs/shared/resources/fonts/VolvoNovum/VolvoNovum-Regular-webfont.woff") format("woff");
}
@font-face {
  font-family: "Volvo Novum";
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: url("https://www.volvotrucks.se/etc.clientlibs/volvo/clientlibs/shared/resources/fonts/VolvoNovum/VolvoNovum-Medium-webfont.woff2") format("woff2"), url("https://www.volvotrucks.se/etc.clientlibs/volvo/clientlibs/shared/resources/fonts/VolvoNovum/VolvoNovum-Medium-webfont.woff") format("woff");
}
@font-face {
  font-family: "Volvo Novum";
  font-weight: 300;
  font-style: normal;
  font-display: fallback;
  src: url("https://www.volvotrucks.se/etc.clientlibs/volvo/clientlibs/shared/resources/fonts/VolvoNovum/VolvoNovum-Light-webfont.woff2") format("woff2"), url("https://www.volvotrucks.se/etc.clientlibs/volvo/clientlibs/shared/resources/fonts/VolvoNovum/VolvoNovum-Light-webfont.woff") format("woff");
}
@font-face {
  font-family: "VolvoBroad";
  font-weight: 500;
  font-style: normal;
  font-display: fallback;
  src: url("https://www.volvotrucks.se/etc.clientlibs/volvo/clientlibs/shared/resources/fonts/VolvoBroadProDigital/VolvoBroadProDigital-webfont.woff2") format("woff2"), url("https://www.volvotrucks.se/etc.clientlibs/volvo/clientlibs/shared/resources/fonts/VolvoBroadProDigital/VolvoBroadProDigital-webfont.woff") format("woff");
}
/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

h1 {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 4.5rem;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: -0.072rem;
}

h2 {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 3.5rem;
  font-weight: 300;
  line-height: 110%;
}

h3 {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 3rem;
  font-weight: bold;
  letter-spacing: 0;
  line-height: 100%;
}

h4 {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  letter-spacing: 0.16rem;
  line-height: 125%;
}

h5 {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  letter-spacing: 0;
  line-height: 125%;
}

h6 {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 1.25rem;
  font-weight: bold;
  letter-spacing: 0.009rem;
  line-height: 125%;
}

p {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.031rem;
  line-height: 130%;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
}

.type-overline {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  letter-spacing: 0.025rem;
  line-height: 125%;
}

.type-button {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  letter-spacing: 0.078rem;
  line-height: 130%;
}

.type-sub-1 {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 0.009rem;
  line-height: 130%;
}

.type-sub-2 {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 0.875rem;
  font-weight: 500;
  letter-spacing: 0.009rem;
  line-height: 130%;
}

.type-caption {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 0.75rem;
  font-weight: normal;
  letter-spacing: 0.025rem;
  line-height: 125%;
}

.statement {
  font-family: "VolvoBroad", Arial, sans-serif;
  font-size: 4.375rem;
  font-weight: normal;
  letter-spacing: 0.313rem;
  line-height: 85%;
}

body {
  font-family: "Volvo Novum", Arial, sans-serif;
  font-size: 1rem;
  font-weight: normal;
  letter-spacing: 0.031rem;
  line-height: 130%;
}

/* Shadows */
.shadow-s {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.3px 0.5px, rgba(0, 0, 0, 0.2) 0px 2px 4px;
}

.shadow-m {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0.5px 1px, rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

.shadow-l {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px, rgba(0, 0, 0, 0.2) 0px 8px 16px;
}

.shadow-xl {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px, rgba(0, 0, 0, 0.2) 0px 16px 32px;
}

.grey-1 {
  color: #f7f7f7;
}

.grey-2 {
  color: #e1dfdd;
}

.grey-3 {
  color: #d0d0d0;
}

.grey-4 {
  color: #a7a8a9;
}

.grey-5 {
  color: #888b8d;
}

.grey-6 {
  color: #53565a;
}

.grey-7 {
  color: #323232;
}

.highlight {
  color: var(--highlight-default);
}

.success {
  color: var(--success-default);
}

.warning {
  color: var(--warning-default);
}

.error {
  color: var(--error-default);
}

.context {
  color: var(--context-default);
}

.black {
  color: #141414;
}

/* Default colors */
:root {
  --background: #ffffff;
  --foreground: #141414;
  --button-background: #141414;
  --button-foreground: #ffffff;
  --button-label-disabled: #a7a8a9;
  --button-disabled: #e1dfdd;
  --button-primary-pressed: #323232;
  --button-primary-hover: #53565a;
  --field: #a7a8a9;
  --field-disabled: #d0d0d0;
  --field-label: #53565a;
  --field-label-disabled: #a7a8a9;
  --item-highlight: #e1dfdd;
  --item-hover: #f7f7f7;
  --switch-field-ticked: #141414;
  --switch-field-unticked: #888b8d;
  --switch-knob-disabled: #ffffff;
  --checkbox-border: #888b8d;
  --option-label: #141414;
  --highlight-default: #004fbc;
  --highlight-hover: #2b8ede;
  --highlight-active: #104e9b;
  --success-default: #1a6c31;
  --warning-default: #ffa000;
  --error-default: #bf2012;
  --context-default: #346559;
  --modal-border: transparent;
  scrollbar-width: 10px;
  scrollbar-color: var(--field-disabled) var(--field);
}
:root::-webkit-scrollbar {
  width: 10px; /* Mostly for vertical scrollbars */
  height: 10px; /* Mostly for horizontal scrollbars */
}
:root::-webkit-scrollbar-thumb {
  /* Foreground */
  background: var(--field-disabled);
}
:root::-webkit-scrollbar-track {
  background: var(--field);
}

.hide-scroll {
  scrollbar-width: none;
}
.hide-scroll::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  margin: 0;
}

a {
  text-decoration: underline;
  color: inherit;
}
a:visited {
  color: var(--context-default);
}
a:hover {
  color: #a7a8a9;
}

/* Element defaults */
*,
*:before,
*:after {
  box-sizing: inherit;
}

ol,
ul,
li,
fieldset,
form,
section,
article,
button {
  border: none;
  margin: 0;
  padding: 0;
  font: inherit;
  vertical-align: baseline;
}

progress {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

input,
select,
textarea,
button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

hr {
  border-color: var(--field-disabled);
}

mark {
  background: transparent;
  background-color: #f7d302;
  margin: 0 -0.2em;
  padding: 0.1em 0.2em;
}

/*# sourceMappingURL=345.fc549bea741b7e9d7142.css.map*/
